beautifulsoup4==4.13.3
deepspeed==0.15.3
einops==0.8.0
ffmpeg-python==0.2.0
gradio-client==0.2.9
jupyterlab==4.3.5
matplotlib==3.10.0
numpy==2.1.2
openai==1.65.2
opencv-python==4.11.0.86
pandas==2.2.3
pillow==11.0.0
recurrent==0.2.4
scipy==1.14.1
sentencepiece==0.1.99
parsedatetime==2.6
tqdm==4.66.5
#torch==2.5.0
#torchvision==0.20.0
#transformers==4.46.3
#triton==3.1.0
